


.idea

batchimage/ToDo
batchimage/rough.py
batchimage/workout.ipynb

dist/*

batchimage/.pytest_cache
batchimage/.pytest_cache/*

tests/.pytest_cache
tests/.pytest_cache/*


__pycache__
batchimage/__pycache__
batchimage/__pycache__/*

tests/__pycache__
tests/__pycache__/**





